body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514e;
}

h1 {
  font-family: "Sacramento", cursive;
  margin: 50px auto 0 auto;
  font-size: 5rem;
  color: #66bfbf;
}

h2 {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  color: #66bfbf;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

p {
  line-height: 2;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}

hr {
  border: dotted #eaf6f6 10px;
  border-bottom: none;
  width: 8%;
  margin: 100px auto;
}

.sub-heading {
  font-weight: normal;
  margin: 10px auto 10px auto;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}
.top-mid {
  position: absolute;
  top: 150px;
  left: 150px;
}
.bottom-mid {
  position: absolute;
  top: 300px;
  right: 300px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 350px;
}

.top-container {
  padding-top: 100px;
  background-color: #eaf6f6;
  position: relative;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.profile {
  width: 70%;
  margin: auto;
}

.intro {
  width: 70%;
  margin: auto;
}

.img-pp {
  width: 30%;
}

.skill-row {
  width: 70%;
  margin: 100px auto;
  text-align: left;
}

.img-left {
  width: 13%;
  float: left;
  margin-right: 30px;
}

.img-right {
  width: 13%;
  float: right;
  margin-left: 30px;
}

.contact-msg {
  margin: 40px auto 60px;
}

.btn {
  background-color: #66bfbf;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.footer-link {
  color: #11999e;
  padding: 30px;
  text-decoration: none;
}

.footer-link:hover {
  color: #5138db;
}

.copyright {
  color: #eaf6f6;
  font-size: 14px;
}
